<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <!-- Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <!-- Font awesome - for icons -->
    <script src="https://use.fontawesome.com/1923cc6bc8.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Cherry+Cream+Soda|Mukta+Mahee|Patrick+Hand|Sacramento" rel="stylesheet">
    <title>Personal Portafolio</title>
</head>
<body>


<div class="container-fluid" >
  <div class="row justify-content-center">
    <!-- Navigation -->
    <nav class="navme navbar navbar-expand-md navbar-light fixed-top bg-light" id="navbar">
      <div class="mt-2 container lead text">
        <a class="navbar-brand" id="colourmein" href="#"><strong>@Aldair47x</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" id="colourmein" href="#About">ABOUT</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>  
    <div class"container-fluid">
      <div class="col-lg-12">
        <!-- welcome-section -->
        <div class="jumbotron text-center" id="welcome-section">
          <div class="container" id="myheader">  
            <img src="https://image.ibb.co/deGC6U/265667b9_47bf_4263_910a_777a5bba62ca.jpg" class="border border-primary img-fluid rounded-circle" id="welcome-sectionimg">
            <h1 class="display-5">Aldair Bernal Betancur</h1>
            <hr>
            <h2 class="display-6">Software engineer-Web developer  aldair47x@gmail.com</h2>
            <br>
            <div class="container">
              <span class="container">
                <a href="https://twitter.com/Aldair47x?lang=es" target="_blank"><i class="fa fa-twitter fa-4x" aria-hidden="true"></i></a>
              </span>
              <span class="container">
                <a href="https://www.instagram.com/aldair47x/?hl=es-la" target="_blank"><i class="fa fa-instagram fa-4x" aria-hidden="true"></i></a>
              </span>
            </div>
                 
            </div>
          </div>
        
        <!-- About -->
        <div class="container-fluid lead text text-justify" id="About">
          <div class="container">
            <hr>
            <h1 class="text-center">ABOUT</h1>
            <div id="container-main">
              <h1 class="text-center">Résumé personnel et compétences</h1>
                <div class="accordion-container">
                  <a class="accordion-titulo" onclick="return blmostrocult(this);" style="cursor: hand; cursor: pointer;">ESPAÑOL</a><div class="accordion-content" style="display: none;"> 
                  <p>Aldair Bernal Betancur es una persona que cuenta con gran entusiasmo y capacidades por aprender
                      todos los días, actualmente es egresado de la Universidad Tecnológica de Pereira en el programa 
                      de Ingeniería en Sistemas y Computación,  participó en un grupo de investigación (Grande) enfocado 
                      a la ingeniería de software e IoT (Internet of things) también participó como hobby académico en 
                      jornadas de maratones de programación competitiva a nivel continental, es una persona curiosa y 
                      esmerada por romper sus límites de conocimiento en distintas áreas de la tecnología. Cuenta con 
                      diversas cualidades y bases conceptuales sobre distintas ramas de la ingeniería de sistemas y posee 
                      gran interés y empeño por mejorar cada vez más y aprender.</p>
                      <br>
                      <p>Conocimiento en el desarrollo web con tecnologías del lado del cliente como:</p> 
                      <br>
                      <li>Javascript</li>
                      <li>Jquery</li>
                      <li>CSS3</li>
                      <li>HTML5</li>
                      <li>BOOTSTRAP</li>
                      <li>ANGULAR</li>
                      <br>
                      <p>Del lado del servidor:</p> 
                      <br>
                      <li>NodeJS</li>
                      <li>ExpressJS</li>
                      <li>PHP</li>
                      <li>Python FLASK</li>
                      
                      <br>
                      <p>También posee conocimiento en desarrollo de software con la metodología SCRUM, en rol de analista y desarrollador.</p>
                      <br>
                      <p>Conocimiento en análisis de datos, en lenguaje R y pruebas de modelos de machine learning con Jupyter</p>                
                      <br>

                      <p>Herramientas:</p>
                      <li>Server SQL</li>
                      <li>PostgreSQL</li>
                      <li>SQL</li>
                      <li>MongoDB</li>
                      <li>NPM</li>
                      <li>Linux Debian</li>
                      <li>VSC</li>
                      <br>
                      <p>
                      Aldair es una persona que desde muy joven identificó su facilidad por reconocer el uso y funcionamiento de las computadoras y cultivó un interés particular por querer aprender más de lo normal sobre éstas, también desde muy joven tuvo la oportunidad de poder ingresar a diferentes escuelas de fútbol juveniles donde podía compartir y conocer mucho sobre los demás, al pasar de los años encontró como hobby deportivo el entrenamiento de pesas en un gimnasio, actualmente goza con el privilegio físico de poder practicar alguno de éstos dos en sus tiempos libres, también es una persona con un gusto fuerte por la música que fue una de las motivaciones principales para aprender en un instituto el inglés, a nivel personal ha logrado poder hacer una muy buena experiencia social en distintos escenarios de la vida y lograr aprender siempre de ellas.
                      </p> </div>
                  <hr>
                  <a class="accordion-titulo" onclick="return blmostrocult(this);" style="cursor: hand; cursor: pointer;">ENGLISH</a><div class="accordion-content" style="display: none;">
                    <p> Aldair Bernal Betancur is a person who has great enthusiasm and skills to learn every day, is currently a graduate of the Universidad Tecnológica de Pereira in the Systems and Computer 
                    Engineering program, participated in a research group (Grande) focused on software engineering and IoT (Internet of things) also participated as an academic hobby in marathon days competitive 
                    programming at continental level, is a curious person and
                    careful to break its limits of knowledge in different areas of technology. 
                    It has various qualities and conceptual bases on different branches of systems engineering 
                    and has great interest and commitment to improve more and more and learn. 
                    </p>
                    <br>
                    <p> Knowledge in web development with client-side technologies such as: </p>
                                    <br>
                                    <li> Javascript </li>
                                    <li> Jquery </li>
                                    <li> CSS3 </li>
                                    <li> HTML5 </li>
                                    <li> BOOTSTRAP </li>
                                    <li> ANGULAR </li>
                                    <br>
                                    <p> On the server side: </p>
                                    <br>
                                    <li> NodeJS </li>
                                    <li> ExpressJS </li>
                                    <li> PHP </li>
                                    <li> Python FLASK </li>
                                    <br> 
                    <p> He also has knowledge in software development with the SCRUM methodology, in the role of analyst and developer. </ p>
                                    <br>
                    <p> Knowledge in data analysis, in R language and machine learning model tests with Jupyter </ p>
                                    <br>
                                    <p> Tools: </p>
                                    <li> SQL Server </li>
                                    <li> PostgreSQL </li>
                                    <li> SQL </li>
                                    <li> MongoDB </li>
                                    <li> NPM </li>
                                    <li> Debian Linux </li>
                                    <li> VSC </li>
                                    <br>
                                    <p>
                    Aldair is a person who from a very young age, identified his facility for recognizing the use and performance 
                    of computers and cultivated a particular interest in wanting to learn more than usual about these,
                    also from a very young age he had the opportunity to enter different soccer schools.
                    youth where he could share and know much about others, over the years found as a sports 
                    hobby weight training in a gym, now enjoys the physical privilege of being able to practice any of 
                    these two in their free time, is also a person with a strong taste for music that was one of the main 
                    motivations for learning English in an institute, on a personal level he has managed to make a very good
                    social experience in different life scenarios and always learn to learn from them.
                                    </p> 
                    </div>
                  <hr>
                  <a class="accordion-titulo" onclick="return blmostrocult(this);" style="cursor: hand; cursor: pointer;">FRANÇAIS</a><div class="accordion-content" style="display: none;">
                      <p>Aldair Bernal Betancur est une personne qui a un grand enthousiasme et les capacités d'apprendre tous les jours, est maintenant diplômé de Universidad Tecnológica de Pereira dans le
                        programme des systèmes d'ingénierie et d'informatique, a participé à un groupe de recherche (Grande) elle a porté sur l'ingénierie de logiciels et IdO (Internet des objets) a également participé comme un passe-temps scolaire dans les jours de niveau continental marathons de programmation compétitifs, il est une personne curieuse
                        prendre soin de briser ses limites de connaissances dans différents domaines de la 
                        technologie. A différentes qualités et bases conceptuelles sur les différentes branches 
                        systèmes d'ingénierie et a un intérêt et un engagement à améliorer davantage et 
                        d'apprendre.</p>
                          <br>
                              <p>Connaissance du développement Web avec des technologies côté client telles que: </p>
                              <br>
                              <li> Javascript </li>
                              <li> Jquery </li>
                              <li> CSS3 </li>
                              <li> HTML5 </li>
                              <li> BOOTSTRAP </li>
                              <li> ANGULAR </li>
                              <br>
                              <p> Du côté serveur: </p>
                              <br>
                              <li> NodeJS </li>
                              <li> ExpressJS </li>
                              <li> PHP </li>
                              <li> Python FLASK </li>
                              
                              <br>
              <p> Il a également des connaissances en développement logiciel avec la méthodologie SCRUM, dans le rôle d’analyste et de développeur. </p>
                              <br>
              <p> Connaissances en analyse de données, en langage R et en tests d’apprentissage automatique avec Jupyter </p>
                              <br>
              
                              <p> Outils: </p>
                              <li> SQL Server </li>
                              <li> PostgreSQL </li>
                              <li> SQL </li>
                              <li> MongoDB </li>
                              <li> NPM </li>
                              <li> Debian Linux </li>
                              <li> VSC </li>
                              <br> <br>
                            <p>
              Aldair est une personne qui, d'un jeune âge identifié la facilité en reconnaissant l'utilisation et le fonctionnement des ordinateurs et cultivé un intérêt particulier à vouloir en savoir plus que d'habitude sur ceux-ci, très jeune, j'ai eu l'occasion d'entrer dans différentes écoles de football jeunes où ils pourraient partager et apprendre beaucoup sur les autres, le passage des années, il a trouvé une formation de poids de passe-temps sportif dans une salle de gym, bénéficie actuellement le privilège physique de pouvoir pratiquer l'un de ces deux dans leur temps libre, il est aussi une personne avec un goût prononcé pour la musique, il a été l'une des principales motivations pour l'apprentissage dans une école d'anglais, à un niveau personnel a réussi à faire une très bonne expérience sociale dans les différentes étapes de la vie et de réaliser toujours apprendre d'eux.
                              </p> 
                  </div>  
                  <hr>
              
                </div>
            </div>
          </div>
        </div>  

      </div>
    </div>
    <!-- Footer -->
    <footer class="footer">
      <div class="container lead text" id="colourmein">
        <span class="pull-right">
          <a href="https://www.linkedin.com/in/aldair-bernal-betancur-7aa70a136/" target="_blank"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
        </span>
        <span class="pull-right">
          <a href="https://github.com/Aldair47x" target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
        </span>
      </div>
    </footer>
  </div>
  <!-- Projects -->       
  <div class="container-fluid lead text text-justify">
    <div class="container">
      <h1 class="text-center">PROJECTS</h1>
      <hr>
      <br>
      <div class="row" id="projects">
        <div class="col-sm project-tile">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://www.ivymarketing.com/wp-content/uploads/2017/07/home-page-e1523380233286.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Responsive Web Design Projects</h4>
              <hr>
              <article class="card-text">
                <p>In this section you could see my opportunity of applying all the skills,
                  principles and concepts I had learn so far HTML, CSS, Visual Design, Accessibility, etc.</p>
                  <br>
                  <p>In this section you get the chance to check:</p>
                  <li>A Tribute Page</li>
                  <li>A Survey Form</li>
                  <li>A Product Landing Page</li>
                  <li>A Technical Documentation Page</li>
                  <li>A Personal Portfolio Webpage</li>  
              </article>
              <a href="https://github.com/Aldair47x/Responsive-Web-Design-Projects" target="_blank" class="btn btn-primary">View Github repository</a>
            </div>
          </div>
        </div>
        <br>
        <div class="col-sm project-tile">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://programacion.net/files/article/20151126051147_Web-Services.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">APIs and Microservices Projects</h4>
              <hr>
              <article class="card-text">
                  <p>In this section you could see my opportunity of applying all the skills,
                    principles and concepts I had learn so far APIS REST, CALL BACKS, EXPRESS JS, NodeJS, etc.</p>
                    <br>
                    <p>In this section you get the chance to check:</p>
                    <li>A Timestamp Microservice</li>
                    <li>A URL Shortener Microservice</li>
                    <li>A Request Header Parser</li>
                    <li>A Exercise Tracker Microservice</li>
                    <li>A File Metadata Microservice</li>
                </article>
              <a href="https://github.com/Aldair47x/Apis-And-Microservices" target="_blank" class="btn btn-primary">View Github repository</a>
            </div>
          </div>
        </div>
        <br>
        <div class="col-sm project-tile">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://www.executivegrapevine.com/uploads/articles/story-microsoft-aqcuire-linkedin-github.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">MORE ABOUT ME</h4>
              <hr>
              <p class="card-text">If you want to know more about me please visit my linkedin and github profile to get more information.
                Thanks for reading.
              </p>
            </div>
          </div>
        </div>
        <br>
    </div>
  </div>

  </div> 
  

</div>
  
        
        
        
        


     
  <!-- JavaScript -->
  <script type='text/JavaScript'>
    function blmostrocult(blconted) {
    var c=blconted.nextSibling;
    if(c.style.display=='none') {
    c.style.display='block';
    } else {
    c.style.display='none';
    }
    return false;
    }
  </script>

</body>
</html>